.btn-registrar {
    --background: green; /* Color de fondo del botón */
    --color: rgb(253, 253, 253); /* Color del texto del botón */
    --border-color: rgb(35, 136, 54); /* Color del borde del botón */
    width: 100%; /*largo del boton*/
}


#container {

    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}