.btn-ingresar-container {
    margin-top: auto; /* Esto empuja el botón al fondo del contenedor */
    padding: 16px;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
}

.btn-cerrar {
    --background: red; /* Color de fondo del botón */
    --color: white; /* Color del texto del botón */
    --border-color: red; /* Color del borde del botón */
}

.wel-usuario{
    text-align: center; /* Centra el texto horizontalmente */
    margin: 0 auto; /* Asegura que el margen sea automático para centrar en su contenedor */
    padding: 16px; 
    color: white; /*color de las letras*/
}

.mapa {
    width: 100%; /* Para que ocupe todo el espacio dentro del contenedor */
    height: 100%;
    border-radius: 10%;
    object-fit: cover;
    opacity: 0; /* Para la animación de aparición */
    animation: fadeIn 3s forwards ease-in-out; /* La imagen aparecerá gradualmente */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.btm-empezar{
    --color: white;
    --background: rgb(200, 185, 20);
}

#boton {
    text-align: center;
    position: absolute;
    left: 20%;
    right: 20%;
    top: 55%;
  }