<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      TeLevoApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" >
    
    <ion-card>
      <ion-card-header>
        
      </ion-card-header>

      <ion-card-content >

        <ion-button [routerLink]="['/inicio']" shape="round" color="secondary" >Iniciar sesion</ion-button> 
        <ion-button [routerLink]="['/registro']" shape="round" color="warning">Registrarse</ion-button> 
        
        
        
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
